@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    object-fit: cover;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
.section-padding{
    padding: 80px 0;
}
main{
    min-height: 75vh;
}
/*================= Style Start Here============== */
header{
    background-color: darkcyan;
    color: #fff;
    font-weight: 300;
    word-spacing: 1px;
    text-align: justify;
}

.single-service-box {
    border: 2px solid #e8e8e8;
    text-align: center;
    padding: 50px;
    position: relative;
}

.single-service-box h3 {
    color: #332828e6;
    font-weight: 500;
    padding: 20px 0;
}

span.service-box-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    background-color: #06ad55;
    line-height: 70px;
    display: inline-block;
    font-size: 35px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: -35px;
}

.single-service-box p {
    margin: 0;
    font-size: 16px;
    color: #6b6464;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 27px;
}
footer{
    background-color: darkcyan;
    color: #fff;
    height: 80px;
    padding: 30px 0;
}
.pagination a{
    color: #fff;
    font-weight: 600;
    border: 1px solid #fffaf8;
    padding: 8px;
    margin: 0 5px;
}
.pagination .active{
    color: orange
}
/* ===========Service Box 02============= */

.service-box-bg-1{
    background-image: url(../images/bg-1.png);
    background-position: center;
    background-size: cover;
}
.service-box-bg-2{
    background-image: url(../images/bg-2.png);
    background-position: center;
    background-size: cover;
}
.service-box-bg-3{
    background-image: url(../images/bg-3.png);
    background-position: center;
    background-size: cover;
}
.service-box-bg-4{
    background-image: url(../images/bg-4.jpeg);
    background-position: center;
    background-size: cover;
}
.service-box-2 {
    height: 250px;
    padding: 15px;
    text-align: center;
    position: relative;
    color: #fff;
    z-index: 2;
}
.service-box-2:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000000;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .3;
}

.service-box-hover h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}

.service-box-hover {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    transition: .3s;
}

a.boxed-btn {
    background-color: #ffb327;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.service-box-2:hover .service-box-hover{
    bottom: 50px;
}
.service-box-2:hover a.boxed-btn{
    opacity: 1;
    visibility: visible;
}

/* ==============Service Box 03============== */
.service-box-3-bg-1{
    background-image: url(../images/section-3-bg-1.png);
    background-position: center;
    background-size: cover;
    height: 250px;
}
.service-box-3-bg-2{
    background-image: url(../images/section-3-bg-2.png);
    background-position: center;
    background-size: cover;
    height: 250px;
}
.service-box-3-bg-3{
    background-image: url(../images/section-3-bg-3.png);
    background-position: center;
    background-size: cover;
    height: 250px;
}
.service-box-content {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-top: 0 solid;
    padding: 30px;
}

.service-box-content h3 {
    font-size: 25px;
    color: #333;
    font-weight: 600;
}

.service-box-meta {
    opacity: .5;
    font-size: 15px;
    text-transform: uppercase;
}

.service-box-3 {
    position: relative;
}

.service-box-project {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    text-align: center;
    /* border: 1px solid #ddd; */
}

.service-box-project a {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    font-weight: 800;
    color: #999;
    text-transform: uppercase;
}
.service-box-project:hover a{
    color: #25697a;
}
/* =====================Team Member Section========================= */
.team-member-img {
    position: relative;
    overflow: hidden;
}

.team-member-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
}

.team-member-content:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #555555d0;
    opacity: .5;
    
}

.team-content-wraper {
    display: table;
    width: 100%;
    height: 100%;
}

.team-inner-content {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.team-member-box h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding-top: 20px;
}

.team-member-box span {
    text-align: center;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #555;
    letter-spacing: 5px;
    font-weight: 200;
}

.team-inner-content h3 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #101010;
    font-weight: 400;
    padding-bottom: 15px;
    /* line-height: 5px; */
}

.team-inner-content p {
    font-size: 16px;
    color: #101010;
    font-weight: 300;
    line-height: 1.8rem;
    padding: 10px 0;
}

.team-social-icon .team-icon {
    color: black;
    padding: 0 5px;
}
.team-member-content {
    left: -100%;
    visibility: hidden;
    transition: .5s;
}
.team-member-img:hover .team-member-content{
    left: 0;
    visibility: visible;
}
/* ==========News Letter=========== */

.newsletter-bg{
    background-image: url(../images/bg-1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 170px;
}
.newsletter-content h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding: 25px 0;
}
.newsletter-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #333;
    z-index: -1;
    opacity: .3;
}

.newsletter-form input[type="text"] {
    padding: 10px 20px;
    min-width: 70%;
    background: #000;
    opacity: .4;
    border: 2px solid #8e8582;
    border-radius: 50px;
    color: #fff;
}

.newsletter-form input[type="submit"] {
    padding: 11px;
    min-width: 28%;
    color: #fff;
    background: #37B59F;
    border-radius: 50px;
}
.newsletter-form input[type="submit"]:hover{
    background-color: #0da189;
}

.newsletter-form form {
    margin-bottom: 15px;
}
.newsletter-title {
    font-style: italic;
    color: #f8f8f8;
    font-size: 18px;
}
.newsletter-title {
    font-style: italic;
    color: #f8f8f8;
    font-size: 18px;
}

.newsletter-bordered-box {
    overflow: hidden;
    text-align: center;
    border-right: 1px solid #ededed;
    position: relative;
    margin-top: -160px;
    z-index: 9;
    background-color: #fff;
    border-radius: 5px;
}

.single-newsletter-box {
    width: 50%;
    float: left;
    border-left: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 20px 35px;
    min-height: 350px;
    border-radius: 5px;
}
.single-newsletter-box h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
}
.single-newsletter-box h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
}

.single-testimonial {
    color: #3e3c3c;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

.single-testimonial .author {
    color: #000;
    font-weight: 600;
    font-style: normal;
    padding-top: 15px;
    margin-bottom: 0;
}
.single-newsletter-box h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
}

.newsletter-btn {
    color: #fff;
    background: #000;
    padding: 10px 40px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 20px;
}
.newsletter-btn:hover{
    background-color: #37B59F;
    color: #fff;
}